@import "inputs.css";
@import "titles.css";
@import "animation.css";
@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#content {
  margin: auto;
  width: 595px;
  height: 827px;
  padding-top: 15px;
}

.main-container {
  margin-inline: 20px;
  width: 555px;
  height: 812px;
}

.info-header,
.info-main {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 20px;
}
.info-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.info-footer-extra-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#cmd {
  width: 275px;
  height: 80px;
  background-color: rgb(57, 212, 255);
  color: #fff;

  margin-top: 20px;
  border: 3px solid rgb(66, 156, 182);
  border-radius: 12px;
  font-size: xx-large;
}
#reset {
  width: 275px;
  height: 80px;
  background-color: rgb(122, 100, 186);
  color: #fff;

  margin-top: 20px;
  border: 3px solid rgb(74, 55, 122);
  border-radius: 12px;
  font-size: xx-large;
}
.main-footer {
  margin-left: 20px;
  width: 555px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
